<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="nugetPoller" version="1">
    <about>
        <name>Nuget Poller Plugin</name>
        <version>1.0.0</version>
        <target-go-version>15.3.0</target-go-version>
        <description>Plugin that polls a Nuget Server using the new API</description>
        <vendor>
            <name>ThoughtWorks Go Plugin Team</name>
            <url>www.thoughtworks.com</url>
        </vendor>
    </about>
</go-plugin>